<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Needed for GET_CONTENT image picker on older APIs -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".WorkSpaceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.WorkSpaceMobile">

        <!-- Launcher -->
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth -->
        <activity android:name=".RegisterActivity" />

        <!-- User Screens -->
        <activity android:name=".DashboardActivity" />
        <activity android:name=".SpaceDetailActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".ReservationListActivity" />
        <activity android:name=".ProfileActivity" />

        <!-- Admin Screens -->
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".SpaceFormActivity" />
        <activity android:name=".ImageUploadActivity" />

    </application>

</manifest>